@page
@model _10kloud_WebApp.Pages.UserManager.UserCreateModel
@{
    Layout = "_Layout";

}
    <!-- alarm form -->
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Login</a>
</li>

    @section Scripts
{
        <partial name="_ValidationScriptsPartial" />


    }
    <!-- End of Main Content -->
}
