@page
@model _10kloud_CRUD.Pages.AlarmsDelete.DeleteModel
@{
}


<form method="post">
    <p>Sicuro di Voler Cancellare L'allarme?</p>
    <button type="submit" class="btn btn-danger">Cancella</button>
    <a class="btn btn-secondary" asp-page="/Index">Annulla</a>

</form>