@page
@model IndexModel
@{
    Layout = "_Layout";
}
<script>
    var Misurazione=
</script>
<meta http-equiv="refresh" content="10">
<!-- Bar Chart -->
<div class="card shadow mb-4 ml-4 mr-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Livello liquido Silos</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="myBarChart"></canvas>
        </div>

    </div>
</div> 