@page
@model IndexModel
@{
    Layout = "_Layout";
}

<!-- Bar Chart -->
<div class="card shadow mb-4 ml-4 mr-4" style="width:1550px; margin:0px;">
    <h1>Livello dei silos</h1>
    <div class="card-header py-3" id="CentralContent">
        <h6 class="m-0 font-weight-bold text-primary">Livello liquido Silos</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="myBarChart"></canvas>
        </div>

    </div>
</div>

