@page
@model _10kloud_CRUD.Pages.AlarmsTables.UmidityAlramTablesModel
@{
    Layout = "_LayoutUmidityAlarmTables";

}



<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a asp-page="/AlarmsCreate/CreateAlarmUmidity"><button type="button" class="btn btn-primary ml-2">Crea Allarme</button></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Silos</th>
                        <th>Soglia Di Allarme</th>
                        <th>Parametro Dell'Allarme</th>
                        <th>Gravità Allarme</th>
                        <th>Id Utente</th>
                        <th style="text-align: center;">Opzioni</th>
                    </tr>
                </thead>

                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.5</td>
                    <td>pressione</td>
                    <td>3</td>
                    <td>1</td>
                    <td style="width: auto; text-align: center;"><button type="button" class="btn btn-primary">Modifica</button><a asp-page="/AlarmsDelete/Delete"><button type="button" class="btn btn-danger ml-5">Elimina</button></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
