@page
@model _10kloud_CRUD.Pages.SilosCharts.Index2Model
@{
    Layout = "_LayoutSilos5";
}
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-7 d-flex justify-content-start">

            <!-- Area Chart -->
            <div class="card shadow w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pressione Interna</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 480px;">
                        <canvas id="pressionS1"></canvas>
                    </div>
                </div>
            </div>

            <div>

                <!-- Area Chart -->
                <div class="card shadow ml-4 mb-4" style="height: 30vh; width: 300px">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Umidità esterna</h6>
                    </div>
                    <h1 class="mt-5 text-primary" style="text-align: center; font-size: 3.5rem;">35%</h1>
                </div>

                <div class="card shadow ml-4" style="height: 30vh; width: 300px; margin-top: 121px;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Temperatura esterna</h6>
                    </div>
                    <h1 class="mt-5 text-primary" style="text-align: center; font-size: 3.5rem;">25°</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
